
    <div class= "container row text-center">
      <h1><strong> Welcome to the Task Manager</strong> </h1>
        <section class= "btn-group btn-group-lg" role="group">
          <a class = "btn btn-success" href="/tasks">Task Index</a>
          <a class = "btn btn-primary" href="/tasks/new">New Task</a>
        </section>
    </div>
