<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <section class= "container">
      <h1> All Tasks </h1>
        <% @tasks.each do |task| %>
        <li><h3><%= task.id %>: <a class= "btn btn-primary" href="/tasks/<%= task.id %>"><%= task.title  %></a></h3>
      <% end %></li>
    </section>
  </body>
</html>
