
    <div class="container">
      <a class= 'btn btn-default btn-primary' type= 'submit' href="/tasks">Task index</a>
      <h1><%= @task.title.capitalize %></h1>
      <p><%= @task.description %></p>
      <button type='submit' class = 'btn btn-success'>Completed?</button>
