
    <div class="container well">
      <a href="/tasks">Task index</a>
      <h1><%= @task.title.capitalize %></h1>
      <p><%= @task.description %></p>
      <button type='submit' class = 'btn btn-success'>Completed?</button>
